<h1>Projects</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.description %></td>
      <td>
        <%= link_to "Show", project %>
        <%= link_to "Edit", edit_project_path(project) %>
        <%= link_to "Delete", project, method: :delete, data: { confirm: "Are you sure you want to delete this project?" } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New Project", new_project_path %>
